/* ============================ FONT'S START ================================= */
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* ============================ FONT'S END ================================= */

/* ============================ CSS RESET START ================================= */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ============================ CSS RESET END ================================= */

/* ============================ COMMON START ================================= */
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", var(--system-fonts), sans-serif;
  background-color: var(--gray);
}

input,
button,
select,
textarea {
  font: inherit;
}

a,
::after,
::before {
  text-decoration: none;
  display: inline-flex;
  color: inherit;
}

:root {
  --system-fonts: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --primary-hue: 0;
  --secondary-hue: 222;
  --primary-color: hsl(var(--primary-hue), 91%, 47%);
  --action-color: hsl(var(--primary-hue), 89%, 41%);
  --secondary-color: hsl(var(--secondary-hue), 94%, 12%);
  --white: #fff;
  --black: hsl(0, 0%, 0%);
  --gray: #f5f5f5;
  --text-color: hsl(var(--black), 0%, 29%);
  --shadow: 0 10px 15px 2px hsla(var(--secondary-hue), 29%, 23%, 0.3);
}

.container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.button {
  width: 212px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
  cursor: pointer;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  padding: 13px;
  background: linear-gradient(
    -70deg,
    var(--primary-color) 40px,
    var(--action-color) 40px
  );
}
.button.btn-small {
  width: 145px;
  height: 48px;
}
.button.btn-medium {
  height: 48px;
}

.button:hover {
  background: hsla(var(--primary-hue), 91%, 47%, 0.9);
}

h1 {
  width: 580px;
  margin-bottom: 50px;
  font-size: 56px;
  line-height: 56px;
  font-weight: 900;
  color: var(--white);
}

.title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 900;
  color: var(--secondary-color);
}

.subtitle {
  font-size: 19px;
  line-height: 26px;
  font-weight: 900;
  color: var(--secondary-color);
}

.text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--secondary-color);
}

.tag {
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  color: var(--text-color);
  text-transform: uppercase;
  margin-bottom: 30px;
}
.tag:before {
  content: "";
  width: 20px;
  height: 20px;
  transform: translateY(30%);
  background: url("../icons/tag.svg") no-repeat center / 20px 20px;
}
/* ============================ COMMON END ================================= */

/* ============================ HEADER START ================================= */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header,
.navbar {
  margin-top: 30px;
}

.logo img {
  width: 175px;
  height: 40px;
}

.holder,
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  font-size: 12px;
  font-weight: 500;
  color: var(--white);
}

.header-nav-title {
  text-transform: uppercase;
  line-height: 26px;
  position: relative;
}

.header-nav-title::before {
  content: "";
  top: 0;
  left: -20%;
  width: 20px;
  height: 20px;
  position: absolute;
  background: url("../icons/clock.svg") no-repeat center;
}

.nav-title-two::before {
  content: "";
  left: -30%;
  background: url("../icons/phone.svg") no-repeat center;
}

.header-nav-inf:nth-child(n + 2) {
  padding: 0 45px;
}
/* ============================ HEADER END ================================= */

/* ============================ NAVBAR START ================================= */
.navbar,
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}

.nav a {
  width: 100%;
  white-space: nowrap;
  padding: 25px;
  font-size: 14px;
  font-weight: 700;
  transition: 0.25s;
}

.nav li {
  position: relative;
}

.nav img {
  padding: 2px 0px 0 5px;
}

.dropmenu {
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  padding-top: 10px;
  background-color: var(--white);
}

.dropmenu a {
  padding: 15px;
}

.nav li:hover > .dropmenu,
.nav li:focus-within > .dropmenu {
  transform: translateY(10px);
  visibility: visible;
  opacity: 1;
}

.nav a:hover {
  color: var(--primary-color);
  opacity: 0.8;
}

.nav-control,
.shoping-card {
  padding: 0 22px;
}

.shoping-card {
  position: relative;
}

.shoping-card::before {
  content: "2";
  position: absolute;
  top: -10px;
  right: 12%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background: var(--primary-color);
}
/* ============================ NAVBAR END ================================= */

/* ============================ HERO START ================================= */
.hero {
  background: url("../img/banner-bg.webp") no-repeat 50% / cover;
  padding: 300px 0;
}
/* ============================ HERO END ================================= */

/* ============================ ABOUT START ================================= */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  background: var(--white) no-repeat center;
  margin: -100px 0;
  padding: 80px;
  min-height: 700px;
  position: relative;
}

.about-title {
  margin-bottom: 32px;
}

.about-container img {
  position: absolute;
}

.about-text {
  margin-bottom: 55px;
}

.about-container::after {
  content: "";
  top: 0;
  right: 0;
  position: absolute;
  width: 640px;
  height: 450px;
  background: url("../img/about-deco.webp") no-repeat 0 0 / 640px 450px;
}
/* ============================ ABOUT END ================================= */

/* ============================ PROMISE START ================================= */
.promise {
  padding-top: 300px;
}

.promise-title {
  margin-bottom: 70px;
}

.promise-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promise-box {
  padding-bottom: 120px;
  display: flex;
}

.promise-box img {
  margin-bottom: 50%;
  margin-right: 10%;
}

.promise-subtitle {
  margin-bottom: 20px;
}

.video-wrap {
  background: url("../img/video-bg.webp") no-repeat center / cover;
  padding: 200px 0;
}

.video-title {
  width: 400px;
  margin-bottom: 30px;
  color: var(--white);
}

.play-btn {
  width: 85px;
  height: 85px;
  padding: 20px;
  border-radius: 50%;
  background-color: var(--white);
  transform: scale(100px);
  transition: transorm 1s;
  animation: pulse 2s cubic-bezier(0.9, 0.24, 0.62, 0.79) infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }
}
/* ============================ PROMISE END ================================= */

/* ============================ CARDS START ================================= */
.cards {
  padding: 110px 0;
  position: relative;
}

.cards::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 450px;
  background: url("../img/top-left-deco.webp") no-repeat 0 0 / 640px 450px;
}

.cards::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 640px;
  height: 450px;
  background: url("../img/bottom-right-deco.webp") no-repeat 0 0 / 640px 450px;
}

.card-title {
  margin-bottom: 70px;
}

.card-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.card {
  width: 325px;
  text-align: center;
  padding: 50px;
  background-color: var(--white);
  margin-bottom: 20px;
  transition: 0.3s;
  z-index: 10;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: var(--shadow);
}

.card-subtitle {
  margin: 25px 0;
}

.cards > .container > .btn-small {
  margin: auto;
}
/* ============================ CARDS END ================================= */

/* ============================ APPOINTMENT START ================================= */
.appointment {
  background-color: var(--secondary-color);
  position: relative;
}

.appointment::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 640px;
  height: 450px;
  background: url("../img/bottom-left-deco.webp") no-repeat 0 0 / 640px 450px;
}

.appointment::after {
  content: "";
  top: 0;
  right: 0;
  position: absolute;
  width: 640px;
  height: 450px;
  background: url("../img/about-deco.webp") no-repeat 0 0 / 640px 450px;
}

.form-wrap {
  padding: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.form-container {
  width: 580px;
  background-color: var(--white);
  padding: 75px 55px;
}

.form-title {
  text-align: center;
  padding-bottom: 50px;
}

.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.appointment-form {
  width: 200px;
  padding: 15px;
  border: none;
  background-color: var(--gray);
  color: var(--text-color);
  margin: 10px;
}

.comment-form {
  width: 420px;
  height: 180px;
  margin-bottom: 30px;
  resize: none;
}

.appointment-btn {
  margin-left: 45%;
}

.appointment-inf {
  margin-left: 100px;
  text-align: center;
  width: 325px;
}

.appointment-title {
  font-size: 30px;
  color: var(--white);
}

.appointment-number {
  color: var(--primary-color);
  font-size: 96px;
  line-height: 56px;
  margin: 45px 0;
}

.appointment-subtitle {
  color: var(--white);
  font-weight: normal;
}
/* ============================ APPOINTMENT END ================================= */
